.form-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffc84b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffe9b3;
  width: 93%;
}

.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #004c3f;
  color: #f1f5f9;
  font-family: 'Patrick Hand';
  font-size: 15px;
}

.form-input::placeholder {
  color: #d1d5db;
}

.input-error {
  margin: 0;
  text-align: center;
}

.form-button {
  width: 95%;
  padding: 10px;
  margin: 20px 0;
  background-color: #004c3f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Patrick Hand';
  font-size: 15px;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #016e5c;
}

select option:checked {
  background-color: #f1f5f9;
  color: #004c3f;
  border-radius: 4px;
}